h1, h2, h3, h4, p, li, a {
	font-family: 'Press Start 2P', cursive;
/*    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);	*/
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 22px;
}

ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
li a {
	cursor: pointer;
}

.list-cont {
	text-align: center;
}
.list-cont li{
	margin-bottom: 15px;
}
.cont-title {
	padding: 20px 0;
}

#top-cont{
	/*background: url('../img/test-bg-2.jpg') ;*/
	background-color: #aaa;
	 -webkit-background-size: cover; 
	 -moz-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover;
	 height: 400px;
}
#screen-cont {
	width: 40%;
	margin: 0 auto;
}

#char-hp {
	display: inline-block; 
	width: 50%;
}
#dragon-hp {
	display: inline-block; 
	text-align: right; 
	width: 50%;
}

#resp-text, #resp-sub-text {
	margin: 0;
	text-align: center;
}

#btm-dialog-cont {
	background-color: #aaa;
	height:200px;
	width: 40%; 
	margin: 0 auto;
}




.char-select-bor {
	border:2px dashed rgba(0, 0, 0, 0.3);
	/*width: 100px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
/*    outline: 2px dashed rgba(0, 0, 0, 0.3);
    outline-offset:-2px; */   
/*        -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;*/
}


/*Blink Animation*/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;

    -moz-animation-name: blinker;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;

    animation-name: blinker;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
