.cur {
	cursor: pointer;
}
.show-it {
	display: block;
}
.hide-it{
	display: none;
}
.disable-hover {

}
.char-select {
	width: 50px;
}
.char-position {
	position: absolute;
}
.char-select-bor {
	border:5px solid red;
	/*width: 100px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}